<div id="footer-container">
	<div id="footer-links">
        <p style="text-align:left;">
            <a href="http://creativecommons.org/licenses/by/4.0/legalcode"><img src="{{ url_for('static', filename = 'img/ga/by.png') }}" style="width:88px;" /></a>
        </p>
        <a href="http://www.gov.au">&copy; Commonwealth of Australia</a>
		<a href="http://www.ga.gov.au/copyright">Copyright</a>
		<a href="http://www.ga.gov.au/privacy">Privacy</a>
		<a href="http://www.ga.gov.au/accessibility">Accessibility</a>
		<a href="http://www.ga.gov.au/sitemap">Sitemap</a>
		<a href="http://www.ga.gov.au/ips">Information Publication Scheme</a>
		<a href="http://www.ga.gov.au/ips/foi">Freedom of Information</a>
        <a id="contact-us" href="http://www.ga.gov.au/contact-us">Contact us&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</a>
	</div>
    <p id="footer-text">Geoscience Australia acknowledges the traditional owners of the country throughout Australia and their continuing connection to land, sea and community. We pay our respect to them and their cultures and to the elders past and present.</p>
</div>
