<table class="pretty">
    <tr><th>Property</th><th>Value</th></tr>
    <tr><td>Site No</td><td>{{ site_no }}</td></tr>
    {% if site_description is not none %}
    <tr><td>Description</td><td>{{ description }}</td></tr>
    {% endif %}
    <tr><td>Date Entered</td><td>{{ entry_date|safe }}</td></tr>
    <tr><td>Site Type</td><td>{{ site_type_alink|safe }}</td></tr>
    <tr>
        <td>
            Site Geometry (WKT)<br />
            horizontal datum: <a href="https://epsg.io/4283">4283</a>
        </td>
        <td>{{ wkt }}</td>
    </tr>
    <tr><td>State</td><td>{{ state }}</td></tr>
    <tr><td colspan="2"></td></tr>
    <tr><th colspan="2">Functional endpoints</th></tr>
    <tr><td>Provenance</td><td><a href="{{ request.base_url }}?_view=prov">?_view=prov</a></td></tr>
    <tr><td>Pingback endpoint</td><td><a href="{{ request.base_url }}/pingback">/pingback</a></td></tr>
</table>