{% extends "page_layout.html" %}

{% block content %}
    <h1>Linked Data Register of Sites</h1>
    <p>This is the home page of GA's Linked Data <a href="https://en.wikipedia.org/wiki/Application_programming_interface">API</a> of Sites. This system provides landing pages for GA's samples which are where our <a href="http://www.igsn.org/">International GeoSample Number identifiers</a> resolve to, multiple <a href="https://en.wikipedia.org/wiki/Linked_data">Linked Data</a> <em>views</em> of each sample's metadata according to several relevant models such as the IGSN model, <a href="https://www.w3.org/TR/prov-o/">PROV-O</a> and <a href="http://dublincore.org/">Dublin Core</a>. </p>
    <h3>Service Metadata</h3>
    <p>This service provides an OGC WMS-like Web Service <em>GetCapabilities</em> description of itself which:</p>
    <blockquote><em>Retrieves metadata about the service, including supported operations and parameters</em></blockquote>
    <p>To view the <em>GetCapabilities</em> function results for this API, see:</p>
    <ul>
        <li><a href="{{ url_for('controller.index') }}?_view=getcapabilities&_format=text/xml">{{ url_for('controller.index') }}?_view=getcapabilities&_format=text/xml</a></li>
    </ul>
    <h3>Registers</h3>
    <p>This home page also acts as a Master Register containing all the other registers delivered by this tool. All registers are listed below.</p>
    <table class="pretty">
        <tr>
            <th>URI</th>
            <th>Description</th>
            <th>Contained Item Class</th>
        </tr>
    {% for register in register_tree %}
        <tr>
            <td style="width: 20%"> <h3><a href={{register.get('uri')}}> {{register.get('uri')}}</a></h3> </td>
            <td>{{register.get('description')}}</td>
            <td>{{register.get('contained_item_class')}}</td>
        </tr>
    {% endfor %}
    </table>
    <h3>Contact</h3>
    <p>This API is maintained by GA's Scientific Data section. Contact then on <a href="mailto:dataman@ga.gov.au">dataman@ga.gov.au</a>.</p>
{% endblock %}