/* version 2 */

body {
	margin: 0 auto;
	text-align: center;
	background-color: white;
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:normal;
}

#container-content {
	margin: 0 auto;
	text-align:left;
	width:900px;
	background-color:white;
	padding: 20px 0 20px 0;
}

#container-content-2 {

}

h1 {
	padding:0em 0px 0px 0px;
	margin:0px 0px 0.2em 0px;
	color:#2f2f2f;
	font-family:sans-serif;
	font-size:2em;
	font-weight:normal;
	line-height:1.1;
}

h2 {
    font-size: 1.75em;
}

h2 {
    font-size: 1.5em;
}

h2, h3 {
	font-family:sans-serif;
	font-weight:normal;
}

p, li {
	color: #000000;
	line-height: 1.5em;
	padding: 0.2em 0 0.9em
}

a {
	color: #006983;
	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

.figure {
	text-align: center;
}
.caption {
	font-size: small;
}

.definition {
	font-style: italic;
	text-decoration: none;
	border-bottom: 1px dashed;
}

/*
*	Header
*/
#header {
	text-align:center;
}
#header > table {
	margin:0 auto;
	text-align:left;
	width:900px;
}


/*
*	Footer
*/

#footer-container {
    font-size: 0.7em;
    color: white;
	text-align: center;
	background-color: #333;
	padding:25px 0 0 0;
}
#footer-links {
    text-align: left;
	margin:0 auto;
	width:900px;
}

#footer-links a {
    color: white;
	text-decoration:none;
	margin:0 20px 0px 0px;
}

#footer-links a:hover {
	/*text-decoration:underline;*/
}


#footer-text {
    color: white;
    margin:0 auto;
    margin-top: 10px;
    text-align: left;
    width: 900px;
}

/*
*	Nav
*/
div#ga-nav {
	font-size: 1em;
	font-family:sans-serif;
	text-align:right;
	margin:20px 0 0 0;
}

div#ga-nav a {
	margin: 0 10px 0 10px;
	text-decoration:none;
	color:#2f2f2f;
}

div#ga-nav a:hover {
	text-decoration:underline;
}

table.lined {
    border-collapse: collapse;
    border: solid 2px black;
}

table.lined th,
table.lined td {
    border: solid 1px black;
    padding: 5px;
}

table.pretty {
    border-collapse: collapse;
    /*border: solid 2px black;*/
	width: 568px;
    font-size: 0.8em;
}

table.pretty tr:nth-child(even) {
    background: #efefef;
    border-top: 1px solid #D8D8D8;
}
table.pretty tr:nth-child(odd) {
    background: #ffffff;
    border-top: 1px solid #D8D8D8;
}

table.pretty th,
table.pretty td {
    /*border: solid 1px black;*/
    padding: 5px;
}

table.pretty th {
    color: white;
    font-weight: bold;
    background-color: #006983;
}