{% extends "page_layout.html" %}

{% block content %}
    <h1>Alternates view</h1>
    <h2>Alternates view of a <a href="{{ class_uri_encoded }}">{{ class_uri }}</a></h2>
    {% if instance_uri %}
        <h3>Instance <a href="{{ instance_uri_encoded }}">{{ instance_uri }}</a></h3>
    {% endif %}
    <p>Default view: <a href="{{ request.base_url }}?_view={{ views_formats['default'] }}">{{ views_formats['default'] }}</a></p>
    <table class="pretty">
        <tr>
            <th>View</th>
            <th>Formats</th>
            <th>Namespace</th>
            <th>Description</th>
        </tr>
    {% for v, vals in views_formats.items() %}
        {% if v != 'default' %}
            <tr>
                <td><a href="{{ request.base_url }}?_view={{ v }}">{{ v }}</a></td>
                <td>
                {% for f in vals['mimetypes'] %}
                    <a href="{{ request.base_url }}?_view={{ v }}&_format={{ f }}">{{ f }}</a><br />
                {% endfor %}
                </td>
                <td><a href="{{ vals['namespace'] }}">{{ vals['namespace'] }}</a></td>
                <td>{{ vals['description'] }}</td>
            </tr>
        {% endif %}
    {% endfor %}
    </table>
{% endblock %}