{% extends "page_layout.html" %}

{% block content %}
    <h1>Register</h1>
    <h2>Of <em><a href="{{ class_name }}">{{ class_name }}</a></em> class items</h2>
    <table>
        <tr>
            <td style="width:50%; vertical-align:top;">
                <h3>Instances</h3>
                <ul>
                {% for instance in register %}
                    <li><a href="{{ base_uri + instance }}">{{ base_uri }}{{ instance }}</a></li>
                {% endfor %}
                </ul>
                {% if prev_page is not none %}
                <a href="{{ '{base_url}?per_page={per_page}&page={page}'.format(base_url=base_uri, per_page=per_page, page=prev_page) }}">Previous page</a>
                {% endif %}
                {% if prev_page is not none or next_page is not none %}
                ...
                {%  endif %}
                {% if next_page is not none %}
                <a href="{{ '{base_url}?per_page={per_page}&page={page}'.format(base_url=base_uri, per_page=per_page, page=next_page) }}">Next page</a>
                {% endif %}
            </td>
            <td style="width:50%; vertical-align:top;">
                <h3>Automated Pagination</h3>
                <p>To paginate these Datasets, something you may wish a link following tool like a web crawler to do, use the query string arguments 'page' for the page number and 'per_page' for the number of Sites per page. HTTP <code>Link</code> headers of <code>first</code>, <code>prev</code>, <code>next</code> &amp; <code>last</code> are given to indicate URIs to the first, a previous, a next and the last page.</p>
                <p>Example:</p>
                <pre>
{{  base_uri }}?page=7&per_page=50
                </pre>
                <p>Assuming 500 Sites, this request would result in a response with the following Link header:</p>
                <pre>
Link:   &lt;{{ base_uri }}?per_page=50&gt; rel="first",
        &lt;{{ base_uri }}?per_page=50&page=6&gt; rel="prev",
        &lt;{{ base_uri }}?per_page=50&page=8&gt; rel="next",
        &lt;{{ base_uri }}?per_page=50&page=10&gt; rel="last"
                </pre>
                <p>If you want to page through the whole collection, you should start at <code>first</code> and follow the link headers until you reach <code>last</code> or until there is no <code>last</code> link given. You shouldn't try to calculate each <code>page</code> query string argument yourself.</p>
                <h3>Alternate views</h3>
                <p>Different views of this register of objects are listed at its <a href="{{ base_uri }}?_view=alternates">Alternate views</a> page.</p>
            </td>
        </tr>
    </table>
{% endblock %}