{% extends "page_layout.html" %}

{% block content %}
    <h1>Site</h1>
    <h2>{{ view_title }}</h2>
    <style>
        #map {
            width: 568px;
            height: 200px;
            margin: 0;
            padding: 0;
            margin-bottom: 10px;
        }
    </style>
    <div id="map"></div>
    <script>
        function initMap() {
            var myLatLng = {lat: {{ lat }}, lng: {{ lon }}};

            {{ google_maps_js|safe }}
        }
    </script>
    <script async defer src="https://maps.googleapis.com/maps/api/js?key={{ gm_key }}&callback=initMap"></script>

    {{ sample_table_html|safe }}

    <h2>Other views</h2>
    <p>Other views of this Sample are listed in the <a href="{{ url_for('controller.site', site_no=site_no) }}?_view=alternates">Alternates View</a>.</p>
    <h2>Citation</h2>
    <p>If you wish to cite this site as you would a publication, please use the following format:</p>
    <code style="display:block; margin: 0 5em 0 5em;">
        Geoscience Australia {{ year_acquired }} "Site {{ site_no }}". A digital catalogue record of a site utilised by Geoscience Australia. Accessed {{ date_now }}. <a href="http://pid.geoscience.gov.au/site/{{ site_no }}">http://pid.geoscience.gov.au/site/{{ site_no }}</a>
    </code>
{% endblock %}